<ion-header no-border>
  <ion-navbar transparent >
    <button ion-button menuToggle>
      <ion-icon name="menu" color="light"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg">
  <ion-refresher slot="fixed"  class="inv" 
  (ionRefresh)="ionRefresh($event)" 
  (ionPull)="ionPull($event)" 
  (ionStart)="ionStart($event)">
    <ion-refresher-content 
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

<div padding>
</div>
<div *ngIf="isClaimed==false" padding>
<form [formGroup]="form" (ngSubmit)="popup()" #loginForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-input type="text" placeholder="Paste your private key here" formControlName="pk" value="{{pk_value}}" required></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
          <ion-col class="signup-col">
            <button *ngIf="buttonClaim==true" ion-button class="submit-btn" full type="submit" [disabled]="!loginForm.form.valid">CLAIM</button>
          </ion-col>
      </ion-row>
    </form>  
    <button *ngIf="buttonPaste==true" (click)="paste()" ion-button full>PASTE</button>
</div>

</ion-content>